*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Oswald', sans-serif;
}

.menu-bar{
    background: rgb(231, 227, 227);
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: rgb(9, 9, 9);
}
.menu-bar ul li{
    width: 150px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: rgb(18, 18, 18);
}
.menu-bar ul li:hover {
    background: rgb(56, 239, 248);
    border-radius: 3px;
}
.sub-menu-1{
    display: none;
}

.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: center;
    margin-top: 15px;
    margin-left: -15px;
    background:rgb(56, 239, 248);
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}


.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: #2cb7e9;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
     line-height: 60px;
     margin: 25px 0;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
     line-height: 60px;
     margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover
{
    background: #563434;

}
.header{
    background: radial-gradient(#fff,#ffd6d6,rgb(25, 161, 214),rgb(69, 249, 180));
}

.header  .row{
    margin-top: 70px;
}

/*---- featured  categories -----*/

.categories{
    margin: 70px  0;
}

.col-2{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-2 img{
    width: 100%;
}

.small-container{
    max-width: 1500;
    margin: auto;
    padding-left: 45px;
    padding-right: 45px;
}


/*------   Boy t-shirt -----*/


.col-3{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-3 img{
    width: 100%;
}


.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}


.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-3 p{
    font-size: 14px;
}

.rating .fa{
    color: #ff523b;
}

.col-3:hover{
    transform: translateY(-5px);
}


/*------   Girls t-shirt  /  Boys Shirt / Girls Shirt -----*/


.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}


.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}


.title::after{
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}
