*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover
{
    background: #563434;

}

.col-2{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-2 img{
    width: 100%;
}

.small-container{
    max-width: 1080;
    margin: auto;
    padding-left: 45px;
    padding-right: 45px;
}

/*---- footer  ----*/

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1 , .footer-col-2 , .footer-col-3 , .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;

}

.footer-col-3 , .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}


/*-------  All Products Pages --------*/
.row-2{
    justify-content: space-between;
    padding: 60px;
}
select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}

.page-btn{
    margin:  0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.page-btn span:hover{
    background:#ff523b;
    color: #fff;
}

/*------  Single product deatail -----*/

.single-product{
    margin-top: 80px;
}

.single-product .col-2 img{
    padding: 0px;
}
.single-product .col-2{
    padding: 20px;
}
.single-product{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus {
    outline: none;
}

.single-product .fa{
    color: #ff523b;
    margin-left: 10px ;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

