* {
    padding: 0;
    margin: 0;
}
.manu-bar{
    text-align: center;
    list-style: none;
    background-color: green;
}
.manu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}

.manu-bar ul li {
    margin: 15px;
    padding: 15px;
    width: 120px;
}

.manu-bar ul li a
{
    text-decoration: none;
    color: white;
}
 .manu-bar ul li:hover
{
   background: #2bab0d;
   border-radius: 15px;
}

.sub-manu-1
{
    display: none;
}

.manu-bar ul li:hover  .sub-manu-1
{
   display: block;
   position: absolute;
   background: rgb(0,100, 0); 
   margin-top: 15px;
   margin-left: -15px;
}

.manu-bar ul li:hover  .sub-manu-1 ul
{
    display: block;
    margin: 10px;
}

.manu-bar ul li:hover  .sub-manu-1 ul li
{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
    border-bottom: 1px dotted #fff;
}
.manu-bar ul li:hover  .sub-manu-1 ul li:last-child
{
    border-bottom: none;
}

.manu-bar ul li:hover  .sub-manu-1 ul li a:hover
{
    color: #b2ff00;
}

.sub-manu-2
{
    display: none;
}

.hover-me:hover .sub-manu-2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(0, 100,0);
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-1{
    flex-basis: 50%;
    min-width: 300px;
}
.col-1 img{
    max-width: 100%;
    padding: 50px 0;
    
}
.col-1 h1{
    font-size: 50px;
    line-height: 60px;
    margin-left: 25px;
}
.col-1 p{
    margin:25px 25px;  
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 25px 200px;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover
{
    background: #563434;

}

.Arjun{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/*-----   featured  categories  ----*/

.categories{
    margin: 70px  0;
}

.col-2{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-2 img{
    width: 100%;
}

.small-container{
    max-width: 1080;
    margin: auto;
    padding-left: 45px;
    padding-right: 45px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*------   Boy t-shirt -----*/

.col-4{
    flex-basis: 20%;
    padding: 10px;
    min-width: 20px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}


.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}


.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}

/*------   Girls t-shirt  /  Boys Shirt / Girls Shirt -----*/


.col-5{
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-5 img{
    width: 100%;
}


.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}


.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-5 p{
    font-size: 14px;
}

.rating .fa{
    color: #ff523b;
}

.col-5:hover{
    transform: translateY(-5px);
}


/*------------   Offers  -----------*/


.offer{
    background: radial-gradient(#fff,#e939c6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}

small{
    color: #555;
}

.btn1{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 40px;
    margin: 25px 100px;
    border-radius: 10px;
    transition: background 0.5s;
}

.btn1:hover
{
    background: #563434;

}


/*---- testimonial ----*/ 

.testimonial{
    padding-top: 100px;
}
.testimonial .col-5{
    text-align: center;
    padding: 40px  20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-5 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-5:hover{
    transform: translateY(-10px);
}

.fa .fa-quote-left{
    font-size: 34px;
    color: #ffd6d6;

}
.col-5 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-5 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}


/*---- brands  ----*/

.brands{
    margin: 100px auto;
}

.col-6{
    width: 160px;
}

.col-6 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-6 img {
    filter: grayscale(0);
  
}

/*---- footer  ----*/

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1 , .footer-col-2 , .footer-col-3 , .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;

}

.footer-col-3 , .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright{
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}


















